@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right,#8CD3ED, #395661);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(33, 49, 56, 0.87);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #5F8FA1;
    text-align: center;
    text-shadow: 1px 1px 2px #456874a9;
}

h2 {
    color: #84C7E0;
}

p {
    text-align: justify;
}